body {
  background: #f06d06;
  font-size: 80%;
  padding: 20px;
  padding-left: 500px
}


main {
  background: black;
  height: 388px;
  width: 315px;
  margin-bottom: 230px;
  margin-top: 100px;
  margin-left: 0px;
  margin-right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

main div {
  background: #dc143c;
  color: white;
  width: 231px;
  height: 310px;
  padding: 20px;
  overflow: auto;
  font-size: 40px;
}

div:hover {
	cursor: pointer;
	color: #ffefd5;
	background: #b22222; 
}

div:active {
	margin-top: 10px;
	color: #deb887;
	background: #a52a2a; 
}
